@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-card:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.exercise-delete:hover {
  cursor: pointer;
}

main {
  min-height: 90vh;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.workout-screen {
  min-height: 100vh;
}

.profile-screen {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .modal-box {
    width: 400px;
  }
}

#navheader {
  background-color: black;
}

#navBrand {
  color: #00df9a;
  font-weight: bold;
}

#Home {
  min-height: 103vh;
}

.modal-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.modal-close-icon:hover {
  cursor: pointer;
  opacity: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
