@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-card:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.exercise-delete:hover {
  cursor: pointer;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.workout-screen {
  min-height: 100vh;
}

.profile-screen {
  min-height: 100vh;
}
